$grow-color:#6d3812;

//=============================================================================
//=============================================================================

html{
    font-size: 62.5%;   //1rem = 10px
}

*,
*::before,
*::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
}
body{
    line-height: 1.4;   
    color: #3d2514; 
}

//=============================================================================
//=============================================================================
.header{
    max-width: 100%;    
    margin: 0 auto;
    height: 100vh;    
    background-image: url(./img/background.png);
    object-fit: cover;

}
.wrap{
    
}
.container{
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 5rem;
}
.header{
    
    &__container{        
        
        padding: 5rem 5.5rem;   
        display: flex;
        align-items: flex-start;
        justify-content: space-between; 
        
    }
    &__logo{
        // padding-top: 5rem;
    }
    &__menu{
        &-delivery{
            display: flex;
            align-items: center;
            justify-content: center;
            &-phone{
                font-family: 'Montserrat', sans-serif;
                font-size: 1.5rem;
                color: #6d3812;
                font-weight: 700;
                margin-left: 1rem;
            }
        }
        &-list{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 2.5rem;
            
        }
        &-item{            
            font-size: 2.5rem;
            font-family: 'Bebas Neue', cursive;
            margin-left: 5rem;    
            z-index: 2;   
        }
        &-link{
            text-decoration: none;
            color: #6d3812;
        }
    }
}
.banner{
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    padding-left: 5.5rem;
    
    &__img{
        width: 60%;    
        position: relative;        
        &-child{            
            object-fit: cover;
            position: absolute;            
            top: -10rem;
            left: 0px;
            z-index: 1;
        }
    }
    &__logo{
        width: 40%;
        padding-top: 8rem;
        &-desc{
            display: inline;
            padding: 1rem;
            border: 2px dashed;
            color: #6d3812;
            font-size: 2rem;
            font-family: 'Bebas Neue', cursive;
        }
        &-title{
            display: block;
            font-size: 10rem;
            font-family: 'Alfa Slab One', cursive;
            font-weight: bold;
            text-shadow: 3px 4px 1px white;    
            height: fit-content;    
            position: relative;
            &::after{
                content: "WEEK";
                font-size: 5rem;
                position: absolute;
                top: 12rem;
                left: 0px;
            }    
        }        
    }
}
.img__qc{
    padding-top: 8rem;    
    padding-bottom: 7rem;
    &_container{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &_big{
        margin-right: 4.5rem;
        margin-left: 6rem;

        &_content{
            position: absolute;
            top: 3rem;
            left: 2.5rem;
            & p{
                font-family: 'Bebas Neue', cursive;
                font-size: 2.5rem;
                color: rgba(255, 255, 255, 0.932);
            }
            & h3{
                font-family: 'Bebas Neue', cursive;
                font-size: 4rem;
                color: rgba(255, 255, 255, 0.932);
                line-height: 1;
            }
        }
    }
    &_small{
        &_1{            
            margin-bottom: 3.5rem;
            &_content{
                position: absolute;
                top: 3rem;
                left: 2.5rem;
                & p{
                    font-family: 'Bebas Neue', cursive;
                    font-size: 2.5rem;
                    color: rgba(255, 255, 255, 0.932);
                }
                & h3{
                    font-family: 'Bebas Neue', cursive;
                    font-size: 4rem;
                    color: rgba(255, 255, 255, 0.932);
                    line-height: 1;
                }
            }            
        }
        &_2{
            &_content{
                position: absolute;
                top: 3rem;
                left: 2.5rem;
                & p{
                    font-family: 'Bebas Neue', cursive;
                    font-size: 2.5rem;
                    color: rgba(255, 255, 255, 0.932);
                }
                & h3{
                    font-family: 'Bebas Neue', cursive;
                    font-size: 4rem;
                    color: rgba(255, 255, 255, 0.932);
                    line-height: 1;
                }
            } 
        }
    }
    &_big,
    &_small_1,
    &_small_2{
        position: relative;
    }
}
.desc{
    // width: 1075px;
    margin: 0 auto;  
    text-align: center;
    padding-bottom: 6.5rem;  
    &__button{
        font-size: 2rem;
        padding: 1rem 2.5rem;
        background-color: #ffc045;
        font-family: 'Bebas Neue', cursive;
        color: #3d2514;        
    }
    &__header{
        margin-top: 4.5rem;
        font-size: 4.5rem;
        font-family: 'Alfa Slab One', cursive;
    }
    &__child{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;        
        margin: 0 auto;
        width: 90%;
    }
}

.order{
    padding-bottom: 15.5rem;
    &__list{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__item{
        text-align: center;
        &-img{
            margin: 0 auto;
        }
        &-title{
            font-size: 3.5rem;
            font-family: 'Bebas Neue', cursive;
        }
        &-desc{
            font-size: 1.5rem;
            width: 90%;
            margin: 0 auto;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 5.5rem;
        }
        &-button{
            font-family: 'Alfa Slab One', cursive;
            font-size: 1.5rem;
            padding:2rem 4rem ;
            background-color: #db2727;
            color: white;            
        }
    }
}
.event{
    padding-bottom: 13rem;
    &__container{
        max-width: 129.4rem;
        // padding: 2.5rem 2.6rem 25 5rem;
        padding: 0;
        display: flex;
        align-items: flex-start;
        // justify-content: space-between;
        box-shadow: 30px 30px 50px 5px rgba(0, 0, 0, 0.26);   
    }
    &__text{
        margin-left: 5.5rem;
        margin-right: 4.5rem;        
        &-title{
            margin-top: 3.5rem;
            font-family: 'Bebas Neue', cursive;
            font-size: 3rem;
            line-height: 25px;
            color: black;
        }
        &-sub-title{
            font-family: 'Alfa Slab One', cursive;
            font-size: 4rem;
            color: #3d2514;
        }
        &-desc{
            margin-top: 4rem;
            max-width: 51.5rem;
            font-size: 2rem;
            font-family: 'Montserrat', sans-serif;
            color: #4b4b4b;
        }
    }
    &__img{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}
.booktable{
    padding-bottom: 17rem;
    &__container{
        max-width: 90rem;
        margin: 0 auto;
        text-align: center;
    }
    &__header{
        font-family: 'Bebas Neue', cursive;
        font-size: 3rem;
        color: #3d2514;
        letter-spacing: 3px;

        &-sub{
            font-family: 'Alfa Slab One', cursive;
            font-size: 5rem;
            letter-spacing: 3px;
            margin-bottom: 8rem;
        }
    }
    &__form{
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;


        &-input{            
            font-size: 2rem;
            font-family: 'Bebas Neue', cursive;
            padding: 2rem;
            outline: none;
            border-radius: 1rem;
            border: 1px solid rgba(0, 0, 0, 0.274);
            width: 37.5rem;
            margin-left: 2.5rem;
            margin-bottom: 2.7rem;

            &:nth-last-child(2){
                margin-left: none;
                margin-bottom: none;
            }
        }
        &-btn{
            font-family: 'Alfa Slab One', cursive;
            // font-size: 2rem;
            background-color: #bf2222;
            border: none;
            // outline: none;
            color: #ffff;
            // padding: 2rem;
            // width: 37.5rem;
            // border-radius: 1rem;
            cursor: pointer;
        }
    }
}

.footer{
    background-image: url(./img/footer__backgroung.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;  
    height: 52.5rem;
    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__header{
        &-img{
            margin-top: 8.5rem;
            margin-bottom: 4.5rem;
        }
        &-desc{
            color: rgba(255, 255, 255, 0.726);
            max-width: 53rem;
            font-size: 1.7rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: lighter;
        }
       
    }
}